* {
    margin: 2%;
    }

h1 {
    font-size: 36px;
    text-align: center;
    font-variant: small-caps;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}
p {
    float: left;
    width: 45%;
    margin: 10px 5px
}